(public/video/achievement_2023.mp4, public/video/achievement_2024.mp4, public/video/achievement_2025.mp4, src/components/VideoPlayer.tsx]

### Deleted files:
[]

### Modified files:
['src/data/content.ts', 'src/pages/AchievementsPage.tsx', 'src/types/types.ts']

###current .gitignore Content

```ts

```